<div id="<%= dom_id(quiz)%>">
  <%= link_to quiz.title, edit_quiz_path(quiz) %>
  <b>Category:</b>
  <%= quiz.category %>

  <b>Author:</b>
  <%= quiz.author %>

  <b>Total Questions:</b>
  <%= Question.where("quiz_id = ?", quiz.id).size %>

  <%= link_to 'Questions For This Quiz', questions_path(:quiz_id=> quiz.id) %> |
  <%= link_to 'Destroy', quiz, confirm: 'Are you sure?', method: :delete, remote: true %>
</div>