<!DOCTYPE html>
<html>
<head>
  <title>Quizzer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Quizzes', quizzes_path %> |
<%= link_to 'Questions', questions_path %>
<%= yield %>

</body>
</html>
